<!DOCTYPE html>

<html ng-app="demoApp">
  <head>
    <title>Cowsay Client</title>
  </head>
  <body>
     <section ng-controller="CowsayController as cowsayCtrl" ng-init="cowsayCtrl.currentCow ='kiss'">
        <h1> {{cowsayCtrl.title}} </h1>
        <form name="cowsayForm" 
              novalidate
              class="form-inline"
              ng-class="{'$app-bg': cowsayForm.$valid, '$app-bg-error': cowsayForm.$invalid}"
              ng-submit="cowsayCtrl.copyCow(cowsayCtrl.text)">
          <input class="form-control" type="text" ng-model="cowsayCtrl.text" ng-minlength="5" required>
          <select class="form-control" ng-model="cowsayCtrl.currentCow">
            <option ng-repeat="item in cowsayCtrl.cowfiles" value="{{item}}">
              {{item}}
            </option>
          </select>
          <button type="button" class="btn btn-warning" ng-click="cowsayCtrl.resetCow()"> click to reset </button>
          <button type="submit" class="btn btn-primary">click me to copy cowsay </button>
       </form>
       <br/>
        <pre class="col-md-6">
          {{cowsayCtrl.updateCow(cowsayCtrl.text)}}
        </pre>
         <pre class="col-md-6" ng-if="cowsayCtrl.show" ng-class="">
           {{cowsayCtrl.state}}
        </pre>
        <div ng-hide="cowsayCtrl.show" class="text-center">
          <i class="fa fa-remove fa-3x"></i>
          <h3 class="col-md-6 text-center" >There is no History</h3>
        <div>
     </section>
  </body>
</html>